<!-- <div class="grid grid-cols-6 gap-4">
    <div class="col-start-3 col-span-2"> -->
        <h1 class=" text-center text-6xl font-normal   text-gray-600">My Todo-list</h1>
    <!-- </div>
</div> -->

