<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />

    <!-- Tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css">

    <title>To-Do Manager</title>

</head>

<body>

    <div class="grid grid-cols-6 gap-4">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
                <p class="py-2">Welcom to the TO-DO manager</p>
                <p class="py-2">New here? <a href="/signup" class="text-green-600">Sign-up now</a></p>
                <p class="py-2">Already have a account<a href="/login" class="text-green-600">Sign in</a></p>

        </div>
    </div>

</body>

<!-- Body ending here  -->


<!-- Footer started here saying Built with Node.js -->

<footer class="flex py-4 justify-center">
    <%- include("caption.ejs"); %>
</footer>

</html>